
button {
    position: relative;
    padding: 20px 30px;
    text-transform: uppercase;
    border: none;
    background: #ca4dce;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transform: 0.3 ease-in;
    border-radius: 5px;
    letter-spacing: 2px;
    overflow: hidden;
    margin: 10px 0;

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.94);
    }

    .circle {
        position: absolute;
        background-color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: scale 0.5s ease-out;
    }
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}